<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>確認</h2>
    <p>本当にtfvarsファイルを削除しますか？</p>
    
    <form method="post">
        <button type="submit" class="btn btn-danger">削除する</button>
    </form>
    <a href="{{ url_for('alb_ec2.alb_ec2_tf_destroy') }}" class="btn btn-secondary">キャンセル</a>
</div>

<!-- Bootstrap JS (jQuery required) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
