{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">ダッシュボード</h1>
    <h2>ユーザー: {{ current_user.username }}</h2>
    <ul class="list-group">
        {% for project in user_projects %}
            <li class="list-group-item">
                {{ project.name }}
                {% if project.terraform_executions %}
                <p>実行者: {{ project.terraform_executions[-1].user_relation.username }}</p>
                {% else %}
                    <p>まだ実行がありません</p>
                {% endif %}
                <a href="{{ url_for('alb_ec2.view_project_init_output', project_id=project.id) }}" class="btn btn-warning btn-sm float-right" target="_blank">Init結果</a>
                <a href="{{ url_for('alb_ec2.view_project_plan_output', project_id=project.id) }}" class="btn btn-primary btn-sm float-right" target="_blank">Plan結果</a>
                <a href="{{ url_for('alb_ec2.view_project_apply_output', project_id=project.id) }}" class="btn btn-success btn-sm float-right" target="_blank">Apply結果</a>
                <a href="{{ url_for('alb_ec2.view_project_destroy_output', project_id=project.id) }}" class="btn btn-danger btn-sm float-right" target="_blank">Destroy結果</a>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary mt-3" href="{{ url_for('project_func.create_project') }}">新しいプロジェクト作成</a>
</div>
{% endblock %}