{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Terraform GUI ALB + EC2</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Ansible GUI</h1>
        <a class="" href="{{ url_for('ansible_exec.ansible_exec_func') }}">Ansible 実行画面移動する</a><br>
        <a class="" href="{{ url_for('ansible_example_list.ansible_example_list_func') }}">Ansible 各変数の値を確認する</a><br>
    </div>
</body>
</html>
{% endblock %}