{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible GUI</title>
    <style>
        textarea {
            width: 100%;
            height: 200px; /* テキストエリアの高さを固定 */
        }
    </style>
</head>
<body>
    <h1>Ansible GUI</h1>
    <form id="ansibleForm" method="post">
        <div class="form-group">
            <label for="playbooks">Playbooks:</label><br>
            <textarea class="form-control" id="playbooks" name="playbooks" required></textarea><br>
        </div>
        <div class="form-group">
            <label for="group_vars">Group Vars:</label><br>
            <textarea class="form-control" id="group_vars" name="group_vars" required></textarea><br>
        </div>
        <div class="form-group">
            <label for="inventory">Inventory:</label><br>
            <textarea class="form-control" id="inventory" name="inventory" required></textarea><br>
        </div>
        <div class="form-group">
            <label for="private_key">Private Key:</label><br>
            <textarea class="form-control" id="private_key" name="private_key" required></textarea><br>
        </div>
        <div>
            <label for="server">Server:</label><br>
            <select id="server" name="server">
                <option value="centos7">CentOS7</option>
                <option value="centos7_wordpress">CentOS7_WordPress</option>
                <!-- 他のサーバー名を追加 -->
            </select><br><br>
        </div>
        <button type="submit" class="btn btn-primary" id="runButton" name="action" value="run">Run</button>
        <button type="submit" class="btn btn-secondary" id="dryrunButton" name="action" value="dryrun">Dry Run</button>
    </form>

    
</body>
</html>

{% endblock %}
