{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible GUI</title>
    <style>
        textarea {
            width: 80%;
            height: 400px; /* テキストエリアの高さを固定 */
        }
    </style>
</head>
<body>
    <h1>Ansible GUI</h1>
    <form id="ansibleForm" method="post">
        <div class="form-group">
            <label for="playbooks">Playbooks:</label><br>
            <textarea class="form-control" id="playbooks" name="playbooks" required>
---
- hosts: target_hosts
  become: true
  user: ansible-user
  roles:
    #- access_test
    - common/yum_update
    - common/firewalld
    - common/hostname
    - common/selinux
    - common/swap
    - common/timezone
    - common/tools
    - common/user_add
    - httpd
    - mysql
    - php
    - wordpress           
            </textarea><br>
        </div>
        <div class="form-group">
            <label for="group_vars">Group Vars:</label><br>
            <textarea class="form-control" id="group_vars" name="group_vars" required>
---
##create user
user_name: test1
user_password: Test1!
#user_groups: test1
                
##change hostname
host_name: test-web01
                
##Apache
serveradmin: test1@example.com
domain_name: test01.com
                
##MySQL
root_password: Testtest991!
db_user_name: test_user
db_user_password: Kenshirou913!
db_name: test_db
                
##WordPress URL
wordpress_url: https://ja.wordpress.org/latest-ja.tar.gz
db_host: localhost                
            </textarea><br>
        </div>
        <div class="form-group">
            <label for="inventory">Inventory:</label><br>
            <textarea class="form-control" id="inventory" name="inventory" required>
[target_hosts]
192.168.33.76                
            </textarea><br>
        </div>
    </form>

    
</body>
</html>

{% endblock %}
